* {
    overflow: hidden;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 500;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f9fafd;
}