.BaseBox {
    width: 70%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.generalWeather {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #158ab5;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.336);
}

.generalWeather h2 {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

.generalWeather p {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

.generalWeather img {
    width: 50px;
    height: 50px;
}

/* weekWeather */

.boxWeek {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.cardWeaterWeek {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #158ab5;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.336);
}

.cardWeaterWeek h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.descriptWeek {
    display: flex;
    gap: 5px;
    margin: 0px;
}

.descriptWeek p {
    font-size: 20px;
    margin-top: 25px;
}

.cardWeaterWeek img {
    width: 80px;
    height: 80px;
}

.selectedDay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.backMenu {
    padding: 50px;
    font-size: 20px;
}

.weatherDate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherDate img {
    width: 100px;
    height: 100px;
}

.blockWeather {
    position: fixed;
    inset: 0;
    background: rgba(28, 62, 75, 0.767);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    animation: 1s show;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.backMenu {
    padding: 30px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    transition: 1s;
    background-color: #158ab5;
}

.backMenu:hover {
    color: #158ab5;
    background-color: #0a4458;
}

.weatherDate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherDate img {
    width: 100px;
    height: 100px;
}

.weatherContent {
    width: 90%;
    max-width: 900px;
    background: #158ab5;

    border-radius: 20px;
    padding: 25px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weatherContent h2 {
    font-size: 35px;
}

.carouselWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.carouselViewport {
    overflow: hidden;
    width: 100%;
    cursor: grab;
}

.carouselViewport:active {
    cursor: grabbing;
}

.carouselTrack {
    display: flex;
    transition: transform 0.4s ease;

    user-select: none;
    -webkit-user-select: none;
    touch-action: pan-y;

    will-change: transform;
}

.cardWeather {
    flex: 0 0 calc(100% / 3);
    min-width: calc(100% / 3);

    box-sizing: border-box;

    background: #0a4458;
    color: white;
    border-radius: 16px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: 0.25s;
}

.cardWeather h2 {
    font-size: 20px;
}

.cardWeather p {
    font-size: 25px;
}

.cardWeather span {
    font-size: 15px;
}

.cardWeather:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}